.header {
    width: 1140px;
    margin: 0 auto;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_sun {
    cursor: pointer;
}
.header_sun svg path {
    fill: var(--two-color);
}